<nb-card class="card" accent="success">
  <nb-card-body class="slot">
    <div class="space space-component vcenter hleft col-md-2">
      <img class="image" src="./../../../assets/Group-94.png">
    </div>
    <div class="space space-component1 vcenter hleft col-md-8 space-container">
      <div class="space space-component vcenter hleft col-md-7">
        <h6 class="text-basic">Tasks</h6>
      </div>
      <div class="space space-component vcenter hleft col-md-5">
        <p class="text-basic paragraph">3 tasks</p>
      </div>
    </div>
    <div class="space space-component vbottom hright col-md-2">
      <p class="text-primary paragraph">More</p>
    </div>
  </nb-card-body>
</nb-card>
