<nb-card class="card" accent="warning">
  <nb-card-body class="slot">
    <div class="space space-component vcenter hleft col-md-2">
      <img class="image" src="https://media.creativemornings.com/uploads/user/avatar/2279/kim_face_circle.jpeg">
    </div>
    <div class="space space-component1 vcenter hleft col-md-8 space-container">
      <div class="space space-component vcenter hleft col-md-7">
        <h6 class="text-basic">New message</h6>
      </div>
      <div class="space space-component vcenter hleft col-md-5">
        <p class="text-basic paragraph">from Victoria</p>
      </div>
    </div>
    <div class="space space-component vbottom hright col-md-2">
      <p class="text-primary paragraph">More</p>
    </div>
  </nb-card-body>
</nb-card>