<nb-card class="card">
  <nb-card-header class="slot">
    <div class="space space-component vcenter hleft col-md-7">
      <h6 class="heading text-basic">New Initiatives</h6>
    </div>
    <div class="space space-component vcenter hright col-md-5">
      <p class="text-primary paragraph"></p>
      <button nbButton class="button" size="medium" status="primary" appearance="filled">
        <nb-icon icon="plus-outline"></nb-icon>
        Approve All
      </button>
    </div>
  </nb-card-header>

  <nb-card-body class="slot">
    <ng-container *ngFor="let item of data">
      <div class="space space-component vcenter hleft col-md-2">
        <nb-checkbox class="" status="success">{{item.intiativeName}}</nb-checkbox>
      </div>
      <div class="space space-component vcenter hleft col-md-2">
        <p class="text-basic paragraph">{{item.initiativeDate | date}}</p>
      </div>
      <div class="space space-component vcenter hleft col-md-2">
        <p class="text-basic paragraph">{{item.name}}</p>
      </div>
      <div class="space space-component vcenter hleft col-md-3">
        <p class="text-basic paragraph">{{item.email}}</p>
      </div>
      <div class="space space-component vcenter hleft col-md-2">
        <p class="text-basic paragraph">{{item.country}}</p>
      </div>
      <div class="space space-component vcenter hright col-md-1">
        <button nbButton class="" size="tiny" status="success" appearance="filled">
          <nb-icon icon="chevron-right"></nb-icon>
        </button>
      </div>
    </ng-container>
  </nb-card-body>
</nb-card>
