:host {
  display: block;
  width: 100%;
  margin: 0 0 24px 0;
}

.heading {
  margin: 0 24px 0 0;
}

.space-component {
  height: auto;
  min-height: 3rem;
  overflow: visible;
}

.button {
  margin: 0 0 0 12px;
}

.card {
  width: 100%;
}
