<nb-card class="card" >
  <nb-card-header class="slot">
    <div class="space space-component vcenter hleft col-md-12">
      <h5 class="text-basic">Profile</h5>
      <span class="right text-basic caption-2">Name of logged in user</span>
    </div>
  </nb-card-header>

  <nb-card-body class="slot">
    <div class="space space-component vtop hleft col-md-12 space-container">
      <div class="space space-component2 vtop hleft col-md-6 space-container">
        <div class="space space-component1 vcenter hcenter col-md-12">
          <img class="image" src="./../../../assets/computer-icons-avatar-user-login-avatar.jpg">
        </div>
        <div class="space space-component vcenter hcenter col-md-12">
          <input nbInput class="" placeholder="" fieldSize="medium" type="file" shape="rectangle">
        </div>
        <div class="space space-component vtop hleft col-md-12">
          <h6 class="text-basic">Password</h6>
        </div>
        <div class="space space-component vtop hleft col-md-12">
          <label class="text text-basic label">Current Password</label>
          <input nbInput class="input" placeholder="" fieldSize="medium" type="password" shape="rectangle" fullWidth>
        </div>
        <div class="space space-component vtop hleft col-md-12">
          <label class="text text-basic label">New Password</label>
          <input nbInput class="input" placeholder="" fieldSize="medium" type="password" shape="rectangle" fullWidth>
        </div>
        <div class="space space-component vtop hleft col-md-12">
          <label class="text text-basic label">Repeat New Password</label>
          <input nbInput class="input" placeholder="" fieldSize="medium" type="password" shape="rectangle" fullWidth>
        </div>
        <div class="space space-component vtop hleft col-md-12">
            <nb-checkbox class="" status="success">Participate in Plus Green Initiative </nb-checkbox>
            </div>
      </div>
      <div class="space space-component3 vtop hleft col-md-6">
        <div class="space space-component vtop hleft col-md-12">
          <h6 class="text-basic">Customer info</h6>
        </div>
        <div class="space space-component vtop hleft col-md-12">
          <label class="text text-basic label">Full Name</label>
          <input nbInput class="input" placeholder="" fieldSize="medium" type="text" shape="rectangle" fullWidth>
        </div>
        <div class="space space-component vtop hleft col-md-12">
          <label class="text text-basic label">Company Name</label>
          <input nbInput class="input" placeholder="" fieldSize="medium" type="text" shape="rectangle" fullWidth>
        </div>
        <div class="space space-component vtop hleft col-md-12">
          <h6 class="text-basic">Contact info</h6>
        </div>
        <div class="space space-component vtop hleft col-md-12">
          <label class="text text-basic label">Email</label>
          <input nbInput class="input" placeholder="" fieldSize="medium" type="email" shape="rectangle" fullWidth>
        </div>
        <div class="space space-component vtop hleft col-md-12">
          <label class="text text-basic label">Phone</label>
          <input nbInput class="input" placeholder="" fieldSize="medium" type="text" shape="rectangle" fullWidth>
        </div>
        <div class="space space-component vtop hleft col-md-12">
          <label class="text text-basic label">Address</label>
          <input nbInput class="input" placeholder="" fieldSize="medium" type="text" shape="rectangle" fullWidth>
        </div>
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer class="slot">
    <div class="space space-component vcenter hcenter col-md-12">
      <button nbButton class="" size="medium" status="success" appearance="filled">
          Update Profile
      </button>
    </div>
  </nb-card-footer>
</nb-card>
