<nb-card class="card" >
  <nb-card-header class="slot">
    <div class="space space-component vcenter hleft col-md-6">
      <h6 class="heading text-basic">Tasks</h6>
    </div>
    <div class="space space-component vcenter hright col-md-6">
      <button nbButton class="button right" size="medium" status="primary" appearance="filled">
          <nb-icon icon="plus-outline"></nb-icon>
          Add New User
      </button>
    </div>
  </nb-card-header>

  <nb-card-body class="slot">
    <div class="space space-component vcenter hleft col-md-9">
      <nb-checkbox class="" status="success">New campaign message</nb-checkbox>
    </div>
    <div class="space space-component vcenter hright col-md-2">
      <p class="text-basic paragraph">20 Mar 2019</p>
    </div>
    <div class="space space-component vcenter hright col-md-1">
      <p class="text-danger paragraph">Delete</p>
    </div>
    <div class="space space-component vcenter hleft col-md-9">
      <nb-checkbox class="" status="success">Answer to Victoria</nb-checkbox>
    </div>
    <div class="space space-component vcenter hright col-md-2">
      <p class="text-basic paragraph">21 Mar 2019</p>
    </div>
    <div class="space space-component vcenter hright col-md-1">
      <p class="text-danger paragraph">Delete</p>
    </div>
    <div class="space space-component vcenter hleft col-md-9">
      <nb-checkbox class="" status="danger">Update Twitter campaign for Site</nb-checkbox>
    </div>
    <div class="space space-component vcenter hright col-md-2">
      <p class="text-basic paragraph">22 Mar 2019</p>
    </div>
    <div class="space space-component vcenter hright col-md-1">
      <p class="text-danger paragraph">Delete</p>
    </div>
    <div class="space space-component vcenter hleft col-md-9">
      <nb-checkbox class="" status="success">Meeting with Henrick</nb-checkbox>
    </div>
    <div class="space space-component vcenter hright col-md-2">
      <p class="text-basic paragraph">23 Mar 2019</p>
    </div>
    <div class="space space-component vcenter hright col-md-1">
      <p class="text-danger paragraph">Delete</p>
    </div>
    <div class="space space-component vcenter hleft col-md-9">
      <nb-checkbox class="" status="success">Update Tracking board</nb-checkbox>
    </div>
    <div class="space space-component vcenter hright col-md-2">
      <p class="text-basic paragraph">24 Mar 2019</p>
    </div>
    <div class="space space-component vcenter hright col-md-1">
      <p class="text-danger paragraph">Delete</p>
    </div>
    <div class="space space-component vcenter hleft col-md-9">
      <nb-checkbox class="" status="success">Answer to Robert</nb-checkbox>
    </div>
    <div class="space space-component vcenter hright col-md-2">
      <p class="text-basic paragraph">24 Mar 2019</p>
    </div>
    <div class="space space-component vcenter hright col-md-1">
      <p class="right text-danger paragraph">Delete</p>
    </div>
  </nb-card-body>

  <nb-card-footer class="slot">
    <div class="space space-component vtop hleft col-md-12">
      
    </div>
  </nb-card-footer>
</nb-card>