<div class="slot">
  <div class="space space-component vtop hleft col-md-3">
    <app-new-message-action-card></app-new-message-action-card>
  </div>
  <div class="space space-component1 vtop hleft col-md-3">
    <app-new-tasks-action-card></app-new-tasks-action-card>
  </div>
  <div class="space space-component1 vtop hleft col-md-3">
    <app-message-action-card></app-message-action-card>
  </div>
  <div class="space space-component2 vtop hleft col-md-3">
    <app-system-action-card></app-system-action-card>
  </div>
  <div class="space space-component vtop hleft col-md-12">
    <app-users-table></app-users-table>
  </div>
  <div class="space space-component vtop hleft col-md-6">
    <app-message-list></app-message-list>
  </div>
  <div class="space space-component vtop hleft col-md-6">
    <app-tasks></app-tasks>
  </div>
</div>