
<nb-card class="card">
  <nb-card-header class="slot">
    <div class="space space-component vcenter hleft col-md-12">
      <h5 class="text-basic">Fund Transfer</h5>
    </div>
  </nb-card-header>
  <nb-card-body class="slot">
    <div class="space space-component vtop hleft col-md-12 space-container">
      <div class="space space-component2 vtop hleft col-md-6 space-container">
        <div class="space space-component vtop hleft col-md-12">
          <label class="text text-basic label">From Account</label>
          <input nbInput class="input" placeholder="" fieldSize="medium" type="password" shape="rectangle" fullWidth>
        </div>
        <div class="space space-component vtop hleft col-md-12">
            <label class="text text-basic label">To Account</label>
            <input nbInput class="input" placeholder="" fieldSize="medium" type="password" shape="rectangle" fullWidth>
          </div>
          <div class="space space-component vtop hleft col-md-12">
              <label class="text text-basic label">Amount </label>
              <input nbInput class="input" placeholder="" fieldSize="medium" type="password" shape="rectangle" fullWidth>
            </div>
          <div class="space space-component vtop hleft col-md-12">
              <nb-checkbox class="" status="success">Do you Want to transfer </nb-checkbox>

            </div>
            <label>Rs .. will be transferred into....</label>
      </div>
      <div class="space space-component3 vtop hleft col-md-6">


        </div>
    </div>


  </nb-card-body>
  <nb-card-footer  class="example-items-rows">
     <div class="space space-component vcenter hcenter col-md-12">
      <a nbButton href="" target="_blank"  class="button-link" size="medium" status="success" appearance="filled">
          Pay (Amount)
      </a>
      <a nbButton href="" target="_blank"  class="button-link" size="medium" status="info" appearance="filled">
          Cancel
      </a>
    </div>
    </nb-card-footer>
</nb-card>
